[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
flake8 = "*"
black = "*"

[packages]
cython = "==0.29.10"
kivy = {git = "https://github.com/kivy/kivy.git"}
peewee = "*"
natsort = "*"
pillow = "*"
kivymd = {git = "https://github.com/HeaTTheatR/KivyMD.git"}

[requires]
python_version = "3.7"

[scripts]
main = "python main.py -m inspector"

[pipenv]
allow_prereleases = true
